.headerContainer{
    width: 100vw;
    height: 60px;
    background-color: transparent;
    color: rgb(0, 162, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    font-size: .9rem;
}