.headerContainer{
    width: 100vw;
    height: 60px;
    background-color: transparent;
    color: rgba(128, 128, 128, 0.623);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}