.headerContainer{
    width: 100vw;
    height: 70px;
    border-top: 1px solid grey;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: fixed;
    top: 92vh;
    padding-bottom: 4vh;
}

.iconButton{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}